.round-button {
    display: inline-block;
    font-size: 0.85rem;
    color: var(--white-color);
    border-radius: 0.25rem;
    border: none;
    background-color: var(--primary-color);
    transition: opacity ease-in 0.125s;
    padding: .75rem;
    cursor: pointer;
}

.round-button:hover{
    opacity: 0.85;
}


