.wrapper {
  margin-top: 6rem;
  position: relative;
}
  
.table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  
}

.picture {
  padding: 1rem;
}

.table th {
  height: 21rem;
}

@media (max-width: 768px) {
  .table th {
    height: 15rem;
  }
}

.table tr td,
.table tr th {
  border-right: .1px dashed #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
}

.table tr th:first-child,
.table tr td:first-child {
  background-color: #fafafa;
  font-weight: bold;
}

.table tr th:last-child,
.table tr td:last-child {
  border-right: none;
}

.table input {
  width: 100%;
}


.inputFile {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.inputFile div{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputFile div:nth-child(1) div svg {
  color: var(--primary-color);
  font-size: 3rem;
}

.inputFile div:nth-child(1) div p {
  font-size: 0.75rem;
}

.inputFile div:nth-child(1) input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.inputFile div:nth-child(2) {
  display: none;
  position: relative;
}

.inputFile div:nth-child(2) img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.inputFile div:nth-child(2) button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: white;
  border:none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;  
  align-items: center;
  justify-content: center;
  cursor: pointer;

  
}

.inputFile div:nth-child(2) button:hover {
  opacity: 0.75;
}
.inputFile div:nth-child(2) button svg {
  font-size: 2rem;
  

}


.inputText{
  padding: 1rem 0;
}

.inputText:hover {
  background-color:red;
}

.rowButton,
.colButton {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;


}

