.layout {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    z-index: 100;
    background-color: var(--white-color);
}

.search {
    display: flex;
    flex: 1;
}



.user {
    display: flex;
    align-items: center;
}

.main {
    height: 100vh;
}

@media (max-width: 768px) {
    .newPost {
        display: none;
    }
}