.block {
    position: absolute;
    right: 0;
    top: 100%
}

.wrapper {
    width: 19rem;
    background-color: var(--white-color);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

}

.wrapper div {
    padding: 0.75rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper div:hover {
    background-color: aliceblue;
}