.block {
    position: absolute;
    right: 20px;
    top: 100%
}

.menuList {
    width: 15rem;
    background-color: var(--white-color);
    box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
    border-radius: 0.25rem;
    padding: 1.5rem 0;
    color: #6e6d7a;

}

.menuList li {
    padding: 0.75rem 1rem;
    cursor: pointer;
}



.menuList li:hover {
    background-color: var(--background-gray-color);
}

.menuList li svg {
    margin-right: 1rem;
    font-size: 1.25rem;
}

.menuList li svg:last-child {
    font-size: 1.5rem;
    margin-right: 0.75rem;
}

.menuList hr {
    margin: 0 1rem;
    height: 1px;
    border: 0;
    background: #e7e7e9;
}

.menuItem {
    display: flex;
    align-items: center;
}