.container {
    padding: 28px 0 0 0;
}

.avatar img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.userName {
    font-size: 1.25rem;
    font-weight: 700;
    color: #0d0c22;
    margin: 10px 0 6px 0;
}
.location {
    font-size: 0.75rem;
    margin-bottom: 6px;

}

@media (min-width: 768px) {

    .container{
        padding: 60px 0 28px 0;
        display: flex;
        justify-content: center;
    }

    .avatar img{
        width: 120px;
        height: 120px;
    }

    .content{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .userName {
        font-size: 32px;
        font-weight: 700;
        color: #0d0c22;
        margin: 0;
    }
    
    .location {
        font-size: 1rem;
        margin-bottom: 0;
    }
    
}