.post {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem;
  transition: opacity ease-in 0.25s, transform ease-in 0.25s;

}

.post:hover {
  opacity: 0.85;
  transform: translateY(-8px);
}

.image{
  margin-bottom: 0.75rem;
}
 
.image img {
  display: block;
  width: 100%;
  border-radius: 0.75rem;
 
}



.content .categorys a{
  display: inline-flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  font-size: 0.85rem;
  background-color: #E9E5FC;
  padding: 0.5625rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  margin-right: 0.25rem;
}
.content .category a:hover {
  text-decoration: underline;
  background-color: black;
}

.content .title {
  margin: 0.75rem 0;
  font-size: 1.314rem;
  font-weight: bold;
}
  
.content .title a {
  color: black;
  text-decoration: none;
}

  
.author {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.author img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.author .info{
  width: 100%;
  margin: 0.5rem;
}

.author .info .name {
  margin-bottom: 0.1875rem;
}

.author .info .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meta div {
  display: flex;
}

.meta svg {
  margin: 0 .5rem
}
