.block a{
    display: inline-flex;
    align-items: center;
    line-height: 1;
    text-decoration: none;
    font-size: 0.85rem;
    background-color: #E9E5FC;
    padding: 0.5625rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    margin-right: 0.25rem;
  }

.block a:hover {
    opacity: 0.85;
  }