.block a{
  display: inline-flex;
  align-items: center;
  padding: 0.5625rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.2rem;
  background-color: #fafafa;
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration: none;
  transition: background-color 0.2s;
}

.block a:hover {
  opacity: 0.85;
}

.block a svg {
  margin-right: 0.1rem;
}