.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0%);
    z-index: 100;
  }

.modal div {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
    max-width: 564px;
    max-height: calc((var(--vh, 1vh) * 60) + 0px);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: overlay;
    overscroll-behavior: none;
}

.modal form {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 24px;
}

.modal input {
    width: 100%;
    margin-left: 8px;
    caret-color: rgb(0, 195, 204);
    font-family: system-ui;
    line-height: 16px;
    color: rgb(51, 55, 61);
    font-size: 16px;
}