.block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  height: 540px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.09);
}

.block div {
  width: 100%;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.body h2 {
  color: #212529;
  font-size: 1.3125rem;
  border-top: 6px solid #000;
  display: inline-block;
  padding-top: 0.25rem;
  font-weight: bold;

}

.body h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #868E96
}

.body section {
  margin-top: 2.5rem;
}

.foot {
  display: flex;
  justify-content: flex-end;
}

.foot div {
  display: inline-block;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  width: fit-content;
}

.foot span{
  margin-right: 0.25rem;
}

.foot div:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }
  
  .block .exit{
    margin-bottom: 2.25rem;
  }

}