.block {
    margin-bottom: 3rem;
}
.wrapper {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 28rem;


}

.title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.7;
    margin-bottom: 1rem;
    border-top: 6px solid black;
}




.info {
    margin-bottom: 1rem;
    display: flex;
    font-size: 0.7rem;
}

.info div:first-child{
    font-weight: bold;
}

.info a {
    text-decoration-line: underline;
}

@media (max-width:1024px) {

    .title{
        font-size: 2rem;
    }
    
}